<div id="<%= dom_id draft_rank %>">
  <p>
    <strong>Game:</strong>
    <%= draft_rank.game_id %>
  </p>

  <p>
    <strong>School:</strong>
    <%= draft_rank.school_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= draft_rank.player %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= draft_rank.rank %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= draft_rank.priority %>
  </p>

  <p>
    <strong>Super priority:</strong>
    <%= draft_rank.super_priority %>
  </p>

</div>
