<p style="color: green"><%= notice %></p>

<%# <h5>Rank Schools</h5> %>
<!-- <p>Rank schools from each seed line (1-16) by preference (1 being most desired, 4 being least). move to the next seed line after ranking. Designate 4 seed lines as priority tie-breakers and 2 as super priority tie-breakers.</p> -->

<table class="table">
  <caption class="caption-top"><%= @seed %> Seeds</caption>
  <thead>
    <tr>
      <!-- <th width="15%">Seed</th> -->
      <th width="20%">Region</th>
      <th width="40%">School</th>
      <th width="20%">My rank</th>
      <th width="20%" colspan="4" class="text-center">Choose rank</th>
    </tr>
  </thead>
  <tbody>
    <% ranks = [] %>
    <% School.where(seed: @seed).each do |school| %>
    <tr>
      <!-- <td><%= school.seed %></td>-->
      <td><%= school.region.titleize %></td>
      <td><%= school.name %></td>
      <% rank = DraftRank.where(game_id: params['game'], player: params['player'], school_id: school).pluck('rank') %>
        <% ranks.push(rank[0]) %>
      <% if rank.blank? %>
       <td class="text-danger"> Not selected</td>
      <% else %>  
        <td class="text-success"> <%= rank[0] %> </td>
      <% end %>
        <td><%= link_to "1", draft_ranks_path(pick: 'yes', seed: @seed, rank: 1, school_id: school, game: params['game'], player: params['player']) %></td>
        <td><%= link_to "2", draft_ranks_path(pick: 'yes', seed: @seed, rank: 2, school_id: school, game: params['game'], player: params['player']) %></td>
        <td><%= link_to "3", draft_ranks_path(pick: 'yes', seed: @seed, rank: 3, school_id: school, game: params['game'], player: params['player']) %></td>
        <td><%= link_to "4", draft_ranks_path(pick: 'yes', seed: @seed, rank: 4, school_id: school, game: params['game'], player: params['player']) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <% seed_lines = (1..16).to_a %>
  <% if ranks.compact.sort == [1,2,3,4] %>
    <p class="fw-bold text-success">Seed line <%= @seed %> is complete</p>
        <p class="text-muted"><small>Move to the next seed line below or add a priority tag (more info below)</small></p>

    <div class="btn-group">
      <% if @tie_break == true %>
        <%= link_to "Priority tag selected (click to remove)", draft_ranks_path(pick: 'priority_remove', seed: @seed, game: @game, player: @player), class: 'btn btn-sm btn-success' %>
      <% else %>
        <% unless @tie_breaks_used == 4 %><%= link_to "Add priority tag", draft_ranks_path(pick: 'priority', seed: @seed, game: @game, player: @player), class: 'btn btn-outline-success btn-sm' %><% end %>
      <% end %>
      <% if @super_tie_break == true %>
        <%= link_to "Super priority tag selected (click to remove)", draft_ranks_path(pick: 'super_priority_remove', seed: @seed, game: @game, player: @player), class: 'btn btn-sm btn-success' %>
      <% else %>
        <% unless @super_tie_breaks_used == 2 %><%= link_to "Add super priority tag ", draft_ranks_path(pick: 'super_priority', seed: @seed, game: @game, player: @player), class: 'btn btn-outline-success btn-sm' %><% end %>
      <% end %>
      <br>
    </div>
  <% else %>
    <p class="text-danger">Schools must be ranked 1-4 with no duplicates</p>
  <% end %>
</div>
<br><br>
<!-- TIE BREAK LINES -->
  <p>Priority tags remaining: <span class="text-success fw-bold"><%= 4 - @tie_breaks_used %></span></p>
  <p>Super priority tags remaining: <span class="text-success fw-bold"><%= 2 - @super_tie_breaks_used %></span></p>
<!-- END TIE BREAK -->

<!-- <p>Seed lines</p> -->
<% seed_lines.each do |seed_line| %>
    <% seed_line_rank = DraftRank.where(seed: seed_line, player: @player, game: @game).pluck(:rank) %>
    <% if seed_line == @seed.to_i %>
      <% color = 'btn-primary' %>
    <% elsif seed_line_rank.compact.sort ==  [1,2,3,4]%>
      <% color = 'btn-success' %>
    <% else %>
      <% color = 'btn-secondary' %>
    <% end %>

    <%= link_to seed_line, draft_ranks_path(seed: seed_line, player: @player, game: @game), class: "btn #{color}"%>
<% end %>
<br><br>
<%= link_to 'Finished ranking', game_path(@game, finish: 'yes', game_id: @game, player: @player), class: 'btn btn-secondary' %>
<br><br><br>
<div class="text-muted">
<p class="fw-bold">Priority tag details</p>
<ul>
  <li>The tag applies to the entire seed line</li>
  <li>This is how tie-breaks will be determined</li>
  <li>If you and another player give a school the same rank whoever has the higher priority tag will get the school</li>
  <li>If rank and priority level are the same, the school will be assigned at random</li>
  <li>You have 4 priority tags and 2 super priority tags</li>
</ul>
</div>

