<br>
<p style="color: green"><%= notice %></p>
<div class="text-center">
  <%# <label for="gameId">Search by game ID:</label> %>
  <input type="text" id="gameId" name="gameId" placeholder="Search by game ID">
  <button class="btn btn-primary" onclick="searchPosts()">Go</button>
</div>

<%= form_with(model: @game) do |form| %>
<div class="text-center">
  <div style="<%= 'display:none'%>" >
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit 'Start new game', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>

<%#= image_tag image_path("bracket.jpg"),size: "540x400" %>

<br>
<h5>Game rules:</h5>
<ul>
  <li>Each game consists of 4 players</li>
  <li>Each player's team will be comprised of 16 schools, with one school from each seed line (#1 seed, #2 seed, #3 seed, etc.)</li>
  <li>When a school from a player's team wins a game, the team earns one point</li>
  <li>The winner of the game is the team with the most points after the championship games</li>
</ul>

<h5>Ranking schools:</h5>
<ul>
  <li>You will rank each of the 4 schools per seed line (64 teams in total) from 1-4 in the order of your preference</li>
  <li>You will designate 4 seed lines as your 'priority' and 2 as your 'super priority'</li>
</ul>

<h5>Draft:</h5>
<ul>
  <li>The draft will occur automatically once all 4 players have ranked all 64 schools</li>
  <li>Teams will be selected based on how each player ranked the schools</li>
  <li>For example, if you rank a school '1' and no other player does, that school is added to your team</li>
  <li>If multiple players rank the school '1', the player with the highest priority level will get the school</li>
  <li>In case of a tie after accounting for priority levels, the school will be randomly assigned between players</li>
<ul>



<script type="text/javascript">
	function searchPosts() {
	  var gameId = document.getElementById('gameId').value;
	  var url = '/pages/home_page?gameId=' + encodeURIComponent(gameId);
	  window.location.href = url;
	}
</script>
