<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div>
    <%= form.label :p1, "Player 1", style: "display: block" %>
    <%= form.text_field :p1%>
  </div>


  <div>
    <%= form.label :p2, "Player 2", style: "display: block" %>
    <%= form.text_field :p2 %>
  </div>


  <div>
    <%= form.label :p3, "Player 3", style: "display: block" %>
    <%= form.text_field :p3 %>
  </div>


  <div>
    <%= form.label :p4, "Player 4", style: "display: block" %>
    <%= form.text_field :p4 %>
  </div>


  <div>
    <%= form.submit "Update players", class: 'btn btn-primary' %>
  </div>
<% end %>
