<div id="<%= dom_id game %>">
  <p>
    <strong>Status:</strong>
    <%= game.status %>
  </p>

  <p>
    <strong>P1:</strong>
    <%= game.p1 %>
  </p>

  <p>
    <strong>P1 score:</strong>
    <%= game.p1_score %>
  </p>

  <p>
    <strong>P2:</strong>
    <%= game.p2 %>
  </p>

  <p>
    <strong>P2 score:</strong>
    <%= game.p2_score %>
  </p>

  <p>
    <strong>P3:</strong>
    <%= game.p3 %>
  </p>

  <p>
    <strong>P3 score:</strong>
    <%= game.p3_score %>
  </p>

  <p>
    <strong>P4:</strong>
    <%= game.p4 %>
  </p>

  <p>
    <strong>P4 score:</strong>
    <%= game.p4_score %>
  </p>

</div>
