<% p1 = DraftRank.where(game_id: @game, player: @game.p1).pluck(:rank).count %>
<% p2 = DraftRank.where(game_id: @game, player: @game.p2).pluck(:rank).count %>
<% p3 = DraftRank.where(game_id: @game, player: @game.p3).pluck(:rank).count %>
<% p4 = DraftRank.where(game_id: @game, player: @game.p4).pluck(:rank).count %>

<table class="table">
  <thead>
    <tr>
      <th>Players</th>
      <th>Status</th>
      <th>Score</th>
      <th>Schools remaining</th>
      <th>Max points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @game.p1 %></td>
      <% if p1 == 64 %>
        <td class="text-success">Done Ranking</td>
      <% else %>
        <td><%= link_to 'Ready to rank schools', draft_ranks_path(seed: 1, player: @game.p1, game: @game) %></td>
      <% end %>
      <td><%= @game.p1_score %></td>
      <td><%= DraftResult.where(game_id: @game, player: @game.p1).count %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= @game.p2 %></td>
      <% if p2 == 64 %>
        <td class="text-success">Done Ranking</td>
      <% else %>
        <td><%= link_to 'Ready to rank schools', draft_ranks_path(seed: 1, player: @game.p2, game: @game) %></td>
      <% end %>
      <td><%= @game.p2_score %></td>
      <td><%= DraftResult.where(game_id: @game, player: @game.p2).count %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= @game.p3 %></td>
      <% if p3 == 64 %>
        <td class="text-success">Done Ranking</td>
      <% else %>
        <td><%= link_to 'Ready to rank schools', draft_ranks_path(seed: 1, player: @game.p3, game: @game) %></td>
      <% end %>
      <td><%= @game.p3_score %></td>
      <td><%= DraftResult.where(game_id: @game, player: @game.p3).count %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= @game.p4 %></td>
      <% if p4 == 64 %>
        <td class="text-success">Done Ranking</td>
      <% else %>
        <td><%= link_to 'Ready to rank schools', draft_ranks_path(seed: 1, player: @game.p4, game: @game) %></td>
      <% end %>
      <td><%= @game.p4_score %></td>
      <td><%= DraftResult.where(game_id: @game, player: @game.p4).count %></td>
      <td></td>
    </tr>
  </tbody>
</table>

<% if p1 + p2 + p3 + p4 == 256 %>
  <%= link_to 'Run Draft', ranks_review_draft_ranks_path(game: @game) %>
<% end %>
