<% teams = [] %>
<% teams.push(Game.where(id: @game.id).pluck(:p1),Game.where(id: @game.id).pluck(:p2),Game.where(id: @game.id).pluck(:p3),Game.where(id: @game.id).pluck(:p4)) %>
    <% teams.each do |team| %>
      <table class="table table-bordered">
        <caption class="caption-top">Team <%= team.join %></caption>
        <thead>
          <tr>
            <th style="width: 15%">Seed</th>
            <th style="width: 40%">School</th>
            <th style="width: 30%">Region</th> 
            <th style="width: 15%">Wins</th>
            <!-- <th style="width: 12%">Points</th> -->
          </tr>
        </thead>
        <tbody>
          <% DraftResult.where(game_id: @game.id).where(player: team).order(school_id: :asc).all.each do |draft_results| %>
          <tr>
            <td><%= draft_results.school.seed %></td>
            <td><%= draft_results.school.name %></td>
            <td><%= draft_results.school.region.titleize %></td>
            <td><%= draft_results.school.wins %></td>
            <!-- <td></td> -->
            <%# if draft_results.school.alive? %>
              <!-- <td class="text-success">Yes</td> -->
            <%# else %>
              <!-- <td class="text-danger">No</td> -->
            <%# end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
