<p style="color: green"><%= notice %></p>
<h3 class="text-center">Game ID: <%= @game.id %></h3>

<% if @game.p1.blank? || @game.p2.blank? || @game.p3.blank? || @game.p4.blank? %> 
  <div class="row">
    <div class="col-md-3">
      <%= render "form", game: @game %>
    </div>
    <div class="col-md-6">
      <%= render "standings" %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <%= render "standings" %>
    </div>
  </div>
<% end %>
<br>
<div class="row">
  <div class="col-md-12">
    <%= render "teams", game: @game %>
  </div>
</div>
<br>
<div class="row">
  <%#= render "schools" %>
</div>







<!-- <div>
  <%= link_to "Edit this game", edit_game_path(@game) %> |
  <%= link_to "Back to games", games_path %>

  <%= button_to "Destroy this game", @game, method: :delete %>
</div> -->
