<%= form_with(model: draft_result) do |form| %>
  <% if draft_result.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(draft_result.errors.count, "error") %> prohibited this draft_result from being saved:</h2>

      <ul>
        <% draft_result.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :game_id, style: "display: block" %>
    <%= form.number_field :game_id %>
  </div>

  <div>
    <%= form.label :school_id, style: "display: block" %>
    <%= form.number_field :school_id %>
  </div>

  <div>
    <%= form.label :player, style: "display: block" %>
    <%= form.text_field :player %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
